.user-requests-content {
    background-color: rgba(43, 42, 42, 0.644);
    width: 70%;
    margin-top: 1%;
    padding: 0%;
    padding-top: 1%;
  
    @media only screen and (max-width: 800px) {
      width: 80%;
      margin-top: 12%;
    }
  
    @media only screen and (max-width: 600px) {
      width: 80%;
    }
  }