.dashboard-backgroud{
      background-image: url('/assets/images/background-image.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: stretch;
      overflow: auto;
  }