<div fxLayoutWrap @routerInAnimation fxFlex=100 fxLayout="column">
  <div fxFlex=100>
    <div class="home-header" fxHide.lg fxHide.md fxHide.xl>
      <div class="home-header-row" fxLayout="column" fxLayoutAlign="start start">
        <span class="header-heading">
          <i class="fa fa-bars nav-bar-menu" aria-hidden="true" (click)="navBar.toggle()"></i>&nbsp;&nbsp;&nbsp;
          {{'appName' | translate }}
        </span>
      </div>
    </div>
    <mat-sidenav-container autosize=true>
      <mat-sidenav [mode]="isMobile? 'over':'side'" position="start" [opened]="!isMobile" fxFlex=20 fxFlex.xs=50
        fxFlex.sm=30 fixedInViewport=true [fixedTopGap]="isMobile? 36 : 0" #navBar>
        <mat-nav-list>
          <div mat-list-item fxLayoutAlign="center start">
            <img
              [src]="authenticationService.userDetails.profilePic && authenticationService.userDetails.profilePic !== null ? authenticationService.userDetails.profilePic : 'assets/images/default-user-image.png'"
              class="user-image" matTooltip="Change Profile Picture.." [matTooltipPosition]="'right'"
              (click)="profilePic.click()">
            <input type="file" hidden #profilePic accept="image/*" (change)="changeProfilePic($event)">
          </div>
          <div mat-list-item fxLayoutAlign="center start" class="user-name">
            {{ authenticationService.userDetails.fullName }}
          </div>
          <mat-nav-list>
            <mat-divider></mat-divider>

            <!-- ALL -->
            <a mat-list-item routerLinkActive="active" [routerLink]="['/dashboard']">
              <div><i class="fa fa-sign-in" aria-hidden="true"></i></div>
              <div fxFlexOffset=5>{{'pageTitles.dashboard.title' | translate }}</div>
            </a>
            <mat-divider></mat-divider>
            <a mat-list-item routerLinkActive="active" (click)="editProfile()">
              <div><i class="fa fa-user-circle-o" aria-hidden="true"></i></div>
              <div fxFlexOffset=5>{{'pageTitles.profile' | translate }}</div>
            </a>
            <mat-divider></mat-divider>

            <!-- STUDENTS -->
            <a mat-list-item routerLinkActive="active" *ngIf="authenticationService.userType === 'STUDENT'"
              [routerLink]="['/dashboard', { outlets : {'dashboard-page-router':'user-test-series-listings'}}]">
              <div><i class="fa fa-book" aria-hidden="true"></i></div>
              <div fxFlexOffset=5>{{'pageTitles.studentPages.testSeries.title' | translate }}</div>
            </a>
            <mat-divider *ngIf="authenticationService.userType === 'STUDENT'"></mat-divider>

            <a mat-list-item routerLinkActive="active" *ngIf="authenticationService.userType === 'STUDENT'"
              [routerLink]="['/dashboard', { outlets : {'dashboard-page-router':'user-requests'}}]">
              <div><i class="fa fa-book" aria-hidden="true"></i></div>
              <div fxFlexOffset=5>{{'pageTitles.studentPages.requests' | translate }}</div>
            </a>
            <mat-divider *ngIf="authenticationService.userType === 'STUDENT'">
            </mat-divider>

            <!-- PUBLISHERS -->
            <a mat-list-item routerLinkActive="active" *ngIf="authenticationService.userType === 'PUBLISHER'"
              [routerLink]="['/dashboard', { outlets : {'dashboard-page-router':'publisher-add-test-series'}}]">
              <div><i class="fa fa-book" aria-hidden="true"></i></div>
              <div fxFlexOffset=5>{{'pageTitles.publisherPages.addTestSeries.title' | translate }}</div>
            </a>

            <mat-divider *ngIf="authenticationService.userType === 'PUBLISHER'">
            </mat-divider>

            <a mat-list-item routerLinkActive="active" *ngIf="authenticationService.userType === 'PUBLISHER'"
              [routerLink]="['/dashboard', { outlets : {'dashboard-page-router':'publisher-requests'}}]">
              <div><i class="fa fa-book" aria-hidden="true"></i></div>
              <div fxFlexOffset=5>{{'pageTitles.publisherPages.requests' | translate }}</div>
            </a>
            <mat-divider *ngIf="authenticationService.userType === 'PUBLISHER'">
            </mat-divider>

            <!-- ADMIN -->
            <a mat-list-item routerLinkActive="active" *ngIf="authenticationService.userType === 'ADMIN'"
              [routerLink]="['/dashboard', { outlets : {'dashboard-page-router':'admin-manage-users'}}]">
              <div><i class="fa fa-users" aria-hidden="true"></i></div>
              <div fxFlexOffset=5>{{'pageTitles.adminPages.manageUsers' | translate }}</div>
            </a>
            <mat-divider *ngIf="authenticationService.userType === 'ADMIN'"></mat-divider>
            <a mat-list-item routerLinkActive="active" *ngIf="authenticationService.userType === 'ADMIN'"
              [routerLink]="['/dashboard', { outlets : {'dashboard-page-router':'admin-manage-test-series'}}]">
              <div><i class="fa fa-book" aria-hidden="true"></i></div>
              <div fxFlexOffset=5>{{'pageTitles.adminPages.manageTestSeries' | translate }}</div>
            </a>
            <a mat-list-item routerLinkActive="active" *ngIf="authenticationService.userType === 'ADMIN'"
              [routerLink]="['/dashboard', { outlets : {'dashboard-page-router':'admin-manage-categories'}}]">
              <div><i class="fa fa-book" aria-hidden="true"></i></div>
              <div fxFlexOffset=5>{{'pageTitles.adminPages.manageCategories' | translate }}</div>
            </a>
            <mat-divider *ngIf="authenticationService.userType === 'ADMIN'"></mat-divider>

            <!-- ALL -->
            <a mat-list-item routerLinkActive="active" (click)="authenticationService.logoutUser()">
              <div><i class="fa fa-sign-out" aria-hidden="true"></i></div>
              <div fxFlexOffset=5>{{'pageTitles.logout' | translate }}</div>
            </a>
            <mat-divider></mat-divider>
          </mat-nav-list>
        </mat-nav-list>
        <div fxLayoutAlign="center start">
          <span class="footer-bottom">
            &copy; {{'appName' | translate }} @ {{currentDate}}
          </span>
        </div>
      </mat-sidenav>
      <mat-sidenav-content class="dashboard-sidebar-content dashboard-backgroud" fxFlex="100">
        <div @routerInAnimation>
          <router-outlet name="dashboard-page-router"></router-outlet>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>