<div fxLayoutWrap @routerInAnimation fxFlex=100 fxLayout="column">
  <div fxFlex=100 class="dashboard-backgroud">
    <div class="home-header" fxHide.lg fxHide.md fxHide.xl>
      <div class="home-header-row" fxLayout="column" fxLayoutAlign="start start">
        <span class="header-heading">
          <i class="fa fa-bars nav-bar-menu" aria-hidden="true" (click)="navBar.toggle()"></i>&nbsp;&nbsp;&nbsp;
          {{'appName' | translate }}
        </span>
      </div>
    </div>
    <mat-sidenav-container autosize=true>
      <mat-sidenav [mode]="isMobile? 'over':'side'" position="start" [opened]="!isMobile" fxFlex=20 fxFlex.xs=50
        fxFlex.sm=30 fixedInViewport=true [fixedTopGap]="isMobile? 36 : 0" #navBar>
        <mat-nav-list>
          <div mat-list-item fxLayoutAlign="center start">
            <img [src]="userUploadedProfilePic ? userUploadedProfilePic : 'assets/images/default-user-image.png'"
              class="user-image" matTooltip="Change Profile Picture.." [matTooltipPosition]="'right'"
              (click)="profilePic.click()">
            <input type="file" hidden #profilePic accept="image/*" (change)="changeProfilePic($event)">
          </div>
          <div mat-list-item fxLayoutAlign="center start" class="user-name">
            Ashish Mahour
          </div>
          <mat-nav-list>
            <mat-divider></mat-divider>
            
            <!-- ALL -->
            <a mat-list-item routerLinkActive="active" [routerLink]="['/dashboard']">
              <i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
              {{'pageTitles.dashboard.title' | translate }}
            </a>
            <mat-divider></mat-divider>
            <a mat-list-item routerLinkActive="active" (click)="editProfile()">
              <i class="fa fa-user-circle-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
              {{'pageTitles.profile' | translate }}
            </a>
            <mat-divider></mat-divider>
            
            <!-- STUDENTS -->
            <a mat-list-item routerLinkActive="active" *ngIf="userType === 'STUDENT'"
              [routerLink]="['/dashboard', { outlets : {'dashboard-page-router':'user-test-series-listings'}}]">
              <i class="fa fa-book" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
              {{'pageTitles.studentPages.testSeries.title' | translate }}
            </a>
            <mat-divider *ngIf="userType === 'STUDENT'"></mat-divider>
            <a mat-list-item routerLinkActive="active" *ngIf="userType === 'STUDENT'"
              [routerLink]="['/dashboard', { outlets : {'dashboard-page-router':'user-cart'}}]">
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
              {{'pageTitles.studentPages.cart' | translate }}
            </a>
            <mat-divider *ngIf="userType === 'STUDENT'"></mat-divider>
           
            <!-- PUBLISHERS -->
            <a mat-list-item routerLinkActive="active" *ngIf="userType === 'PUBLISHER'"
              [routerLink]="['/dashboard', { outlets : {'dashboard-page-router':'publisher-add-test-series'}}]">
              <i class="fa fa-book" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
              {{'pageTitles.publisherPages.addTestSeries' | translate }}
            </a>
            
            <!-- STUDENTS AND PUBLISHER -->
            <a mat-list-item routerLinkActive="active" *ngIf="userType === 'PUBLISHER' || userType === 'STUDENT'"
              [routerLink]="['/dashboard', { outlets : {'dashboard-page-router':'requests'}}]">
              <i class="fa fa-book" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
              {{'pageTitles.requests' | translate }}
            </a>
            <mat-divider *ngIf="userType === 'PUBLISHER' || userType === 'STUDENT'"></mat-divider>

            <!-- ADMIN -->
            <a mat-list-item routerLinkActive="active" *ngIf="userType === 'ADMIN'"
              [routerLink]="['/dashboard', { outlets : {'dashboard-page-router':'admin-manage-users'}}]">
              <i class="fa fa-users" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
              {{'pageTitles.adminPages.manageUsers' | translate }}
            </a>
            <mat-divider *ngIf="userType === 'ADMIN'"></mat-divider>
            <a mat-list-item routerLinkActive="active" *ngIf="userType === 'ADMIN'"
              [routerLink]="['/dashboard', { outlets : {'dashboard-page-router':'admin-manage-test-series'}}]">
              <i class="fa fa-book" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
              {{'pageTitles.adminPages.manageTestSeries' | translate }}
            </a>
            <a mat-list-item routerLinkActive="active" *ngIf="userType === 'ADMIN'"
              [routerLink]="['/dashboard', { outlets : {'dashboard-page-router':'admin-manage-categories'}}]">
              <i class="fa fa-book" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
              {{'pageTitles.adminPages.manageCategories' | translate }}
            </a>
            <mat-divider *ngIf="userType === 'ADMIN'"></mat-divider>
            <a mat-list-item routerLinkActive="active" *ngIf="userType === 'ADMIN'">
              <i class="fa fa-file-text-o" aria-hidden="true"
                [routerLink]="['/dashboard', { outlets : {'dashboard-page-router':'admin-reports'}}]"></i>&nbsp;&nbsp;&nbsp;
              {{'pageTitles.adminPages.reports' | translate }}
            </a>
            <mat-divider *ngIf="userType === 'ADMIN'"></mat-divider>
            
            <!-- ALL -->
            <a mat-list-item routerLinkActive="active">
              <i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
              {{'pageTitles.logout' | translate }}
            </a>
            <mat-divider></mat-divider>
          </mat-nav-list>
        </mat-nav-list>
        <div fxLayoutAlign="center start">
          <span class="footer-bottom">
            &copy; {{'appName' | translate }} @ {{currentDate}}
          </span>
        </div>
      </mat-sidenav>
      <mat-sidenav-content class="dashboard-sidebar-content">
        <div @routerInAnimation>
          <router-outlet name="dashboard-page-router"></router-outlet>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>