<div fxLayoutAlign="center center">
    <mat-card class="dashboard-screen-content">
        <mat-card-header>
            <mat-card-title>{{ 'pageTitles.dashboard.title' | translate }}</mat-card-title>
            <mat-card-subtitle>{{authenticationService.userType | titlecase }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content fxLayout="column" fxLayout="row wrap">
            <div fxFlex=100>
                <div [ngStyle]="{width: '100%', height: height,
                    overflow:'auto'}">
                    <div fxFlex=100 fxLayout="column" *ngIf="authenticationService.userType ===
                        'PUBLISHER'">
                        <div fxFlex=100 style="overflow-x: auto; width: 100%; height: 100%;">
                            <canvas height="100%" #publisherCanvas></canvas>
                        </div>                  
                    </div>
                    <div fxFlex=100 fxLayout="column" *ngIf="authenticationService.userType ===
                        'STUDENT'">
                        <div fxFlex=100 style="overflow-x: auto; width: 100%; height: 100%;">
                            <canvas height="100%" #studentCanvas></canvas>
                        </div>
                    </div>
                    <div fxFlex=100 fxLayout="column" *ngIf="authenticationService.userType ===
                        ( 'userTypes.admin'| translate )">
                        <div fxFlex=100 *ngFor="let request of adminService.allRequests[this.requestPageNo]" class="dashboard-listing-row-content">
                            <div fxFlex=100 fxLayout="column">
                                <div fxFlex=100>
                                    <div fxFlex=50 fxLayout="column">
                                        <span class="dashboard-listing-heading">{{
                                            'dashboardLabels.adminDashboardLabels.requestText'
                                            | translate }}</span>
                                        <span class="dashboard-listing-content">{{request.requestText}}</span>
                                    </div>
                                    <div fxFlex=25 fxLayout="column">
                                        <span class="dashboard-listing-heading">{{
                                            'dashboardLabels.adminDashboardLabels.requestedBy'
                                            | translate }}</span>
                                        <span
                                            class="dashboard-listing-content">{{request.userIdToRequests.fullName}}</span>
                                    </div>
                                    <div fxFlex=25 fxLayout="column">
                                        <span class="dashboard-listing-heading">{{
                                            'dashboardLabels.adminDashboardLabels.processed'
                                            | translate }}</span>
                                        <span
                                            class="dashboard-listing-content">{{request.processed ? ("dashboardLabels.adminDashboardLabels.processedTrue" | translate): ("dashboardLabels.adminDashboardLabels.processedFalse" | translate)}}</span>
                                    </div>
                                </div>
                                <div fxFlex=100>
                                    <div fxFlex=25 fxLayout="column">
                                        <span class="dashboard-listing-heading">{{
                                            'dashboardLabels.adminDashboardLabels.requestCreatedDateTime'
                                            | translate }}</span><span
                                            class="dashboard-listing-content">{{request.dateCreated | date:"medium"}}</span>
                                    </div>
                                    <div fxFlex=25 fxLayout="column">
                                        <span class="dashboard-listing-heading">{{
                                            'dashboardLabels.adminDashboardLabels.requestModifyDateTime'
                                            | translate }}</span><span
                                            class="dashboard-listing-content">{{request.lastModified | date:"medium"}}</span>
                                    </div>
                                   
                                    <div fxFlex=50 fxLayout="column">
                                        <span class="dashboard-listing-heading">{{
                                            'dashboardLabels.adminDashboardLabels.status'
                                            | translate }}</span>
                                        <div fxLayout="row wrap">
                                            <mat-button-toggle-group #requestStatus="matButtonToggleGroup"
                                                fxLayout="row" [value]="request.status" (change)="changeStatus($event.value, request)">
                                                <mat-button-toggle value="ACCEPTED"
                                                    [ngClass]="{'request-accept-status': (request.status === 'NOT_ACCEPTED' || request.status === 'NOT_STARTED'), 'request-accept-status-checked': request.status === 'ACCEPTED'}">
                                                    {{
                                                    ('dashboardLabels.adminDashboardLabels.acceptedBtn'
                                                    | translate) | uppercase }}
                                                </mat-button-toggle>
                                                <mat-button-toggle value="NOT_ACCEPTED"
                                                    [ngClass]="{'request-reject-status-checked': request.status === 'NOT_ACCEPTED', 'request-reject-status': (request.status === 'ACCEPTED' || request.status === 'NOT_STARTED')}">
                                                    {{
                                                    ('dashboardLabels.adminDashboardLabels.rejectBtn'
                                                    | translate) | uppercase }}
                                                </mat-button-toggle>
                                                <mat-button-toggle value="NOT_STARTED" disabled=true
                                                    [ngClass]="{'request-reject-status-checked': (request.status === 'NOT_STARTED'), 'request-reject-status': (request.status === 'ACCEPTED' || request.status === 'NOT_ACCEPTED')}">
                                                    {{
                                                    ('dashboardLabels.adminDashboardLabels.notStartedBtn'
                                                    | translate) | uppercase }}
                                                </mat-button-toggle>
                                            </mat-button-toggle-group>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div fxFlex=100 fxLayoutAlign="center center" class="next-prev-layout"
                *ngIf="authenticationService.userType === ( 'userTypes.admin'| translate )">
                <button mat-raised-button class="next-prev-button" (click)="prevAdminRequestPage()"
                    [disabled]="!adminService.allRequests[requestPageNo - 1]"><i class="fa
                        fa-arrow-left" aria-hidden="true"></i></button>
                <button mat-raised-button class="next-prev-button" fxFlexOffset=5
                    [disabled]="!adminService.allRequests[requestPageNo + 1]" (click)="nextAdminRequestPage()"><i
                        class="fa fa-arrow-right" aria-hidden="true"></i></button>
            </div>
            <div fxFlex=100 fxLayoutAlign="end start" class="next-prev-layout"
                *ngIf="authenticationService.userType === ( 'userTypes.student'| translate )">
                <button mat-raised-button class="download-report-button" (click)="generateUserReport()">{{"dashboardLabels.studentDashboardLabels.generateReportFile"|translate}}</button>
            </div>
            <div fxFlex=100 fxLayoutAlign="end start" class="next-prev-layout"
                *ngIf="authenticationService.userType === ( 'userTypes.publisher'| translate )">
                <button mat-raised-button class="download-report-button" (click)="generatePublisherReport()">{{"dashboardLabels.publisherDashboardLabels.generateReportFile"|translate}}</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>