.dashboard-screen-content {
      background-color: rgba(43, 42, 42, 0.644);
      width: 70%;
      margin-top: 1%;
      padding: 0%;
      padding-top: 1%;

      @media only screen and (max-width: 800px) {
            width: 80%;
            margin-top: 12%;
      }

      @media only screen and (max-width: 600px) {
            width: 80%;
      }
}

.dashboard-screen-table-content {
      text-align: center;
      overflow-x: auto;
}

.alert-success {
      width: 96%;
      color: rgb(32, 12, 12);
      overflow-x: auto;
      background-color: rgba(1, 211, 81, 0.712);
      border-color: rgba(1, 211, 81, 0.712);
}

.alert-primary {
      width: 96%;
      color: rgb(32, 12, 12);
      overflow-x: auto;
      background-color: rgba(0, 153, 224, 0.664);
      border-color: rgba(0, 153, 224, 0.664);
}

.publisher-table {
      color: rgb(209, 206, 206);
      width: 96%;
      overflow-x: auto;
}

.student-table {
      color: rgb(209, 206, 206);
      width: 96%;
      overflow-x: auto;
}

.wraping-the-text {
      word-wrap: break-word;
}

.edit-profile-button {
      color: rgb(32, 12, 12);
      background: rgba(3, 171, 248, 0.863);
}

.alert-error-message {
      font-size: 150%;
      font-weight: 100;
      color: rgba(176, 228, 252, 0.822);
}

.alert-success-message {
      color: rgba(170, 255, 202, 0.822);
      font-size: 150%;
      font-weight: 100;
}


::ng-deep {
      .test-series-listing-content .mat-ink-bar {
            background: rgb(245, 154, 94) !important;
      }

      .ui-scrollpanel-bar-y {
            background-color: rgb(245, 154, 94);
      }

      .ui-scrollpanel-bar-x {
            background-color: rgb(245, 154, 94);
      }
}


.dashboard-listing-table-content {
      text-align: center;
      overflow: auto;
}

.dashboard-listing-row {
      color: rgba(43, 42, 42);
      padding: 1%;
}

.wraping-the-text {
      word-wrap: break-word;
}

.test-image {
      width: 96%;
}

.next-prev-layout {
      padding-top: 1%;
      padding-bottom: 1%;
}

.next-prev-button {
      background-color: rgba(43, 42, 42, 0.767);
}

.dashboard-listing-row-content {
      background-color: rgba(219, 216, 214, 0.664);
}

.dashboard-listing-heading {
      font-size: 100%;
      font-weight: bold;
      font-family: cursive;
      padding: 1%;
      word-wrap: break-word;
}

.dashboard-listing-content {
      font-size: 100%;
      font-weight: normal;
      font-family: cursive;
      padding: 1%;
      word-wrap: break-word;
}

.add-to-cart-perform-button {
      background-color: rgb(26, 197, 132);
      color: rgba(43, 42, 42);
      font-weight: 500;
      margin: 1%;
}