<div fxLayoutAlign="center center">
  <mat-card class="cart-content">
    <mat-card-header>
      <mat-card-title>{{'pageTitles.studentPages.cart' | translate }}</mat-card-title>
      <mat-card-subtitle>{{ authenticationService.userType | titlecase }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content fxLayout="column" fxLayout="row wrap">
      <div fxFlex=100>
        <div [ngStyle]="{width: '100%', height: height, overflow:'hidden'}">
          <div fxFlex=100 fxLayout="column">
            <div fxFlex=100 *ngFor="let test of testData" class="cart-listing-row">
              <div fxFlex=20>
                <img src="assets/images/IT.png" class="test-image">
              </div>
              <div fxFlex=80 class="cart-listing-row-content" fxLayout="column">
                <div fxFlex=100>
                  <div fxFlex=25 fxLayout="column">
                    <span class="cart-listing-heading">{{'testSeriesListingLabels.testId' | translate }}</span> <span
                      class="cart-listing-content">{{test.testId}}</span>
                  </div>
                  <div fxFlex=25 fxLayout="column">
                    <span class="cart-listing-heading">{{'testSeriesListingLabels.testName' | translate }}</span><span
                      class="cart-listing-content">{{test.testName}}</span>
                  </div>
                  <div fxFlex=25 fxLayout="column">
                    <span class="cart-listing-heading">{{'testSeriesListingLabels.testType' | translate }}</span><span
                      class="cart-listing-content">{{test.testType}}</span>
                  </div>
                  <div fxFlex=25 fxLayout="column">
                    <span class="cart-listing-heading">{{'testSeriesListingLabels.noOfQuestions' | translate }}</span><span
                      class="cart-listing-content">{{test.noOfQuestions}}</span>
                  </div>
                </div>
                <div fxFlex=100>
                  <div fxFlex=25 fxLayout="column">
                    <span class="cart-listing-heading">{{'testSeriesListingLabels.duration' | translate }}</span> <span
                      class="cart-listing-content">{{test.duration}}</span>
                  </div>
                  <div fxFlex=25 fxLayout="column">
                    <span class="cart-listing-heading">{{'testSeriesListingLabels.totalMarks' | translate }}</span><span
                      class="cart-listing-content">{{test.totalMarks}}</span>
                  </div>
                  <div fxFlex=25 fxLayout="column">
                    <span class="cart-listing-heading">{{'testSeriesListingLabels.minMarks' | translate }}</span><span
                      class="cart-listing-content">{{test.minMarks}}</span>
                  </div>
                  <div fxFlex=25 fxLayout="column">
                    <span class="cart-listing-heading">{{'testSeriesListingLabels.price' | translate }}</span><span
                      class="cart-listing-content">{{test.price | currency:'INR'}}</span>
                  </div>
                </div>
                <div fxFlex=100 fxLayout="row wrap">
                  <div fxFlex=75 fxFlex.sm=100 fxFlex.xs=100 fxLayout="column">
                    <span class="cart-listing-heading">{{'testSeriesListingLabels.uploadedBy' | translate }}</span><span
                      class="cart-listing-content">{{test.uploadedBy}}</span>
                  </div>
                  <div fxFlex=25 fxFlex.sm=100 fxFlex.xs=100 fxLayoutAlign="start center">
                    <button mat-raised-button class="buy-button">{{'cartLabels.buy' | translate }}</button>
                  </div>
                  <div fxFlex=100>
                    &nbsp;&nbsp;
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div fxFlex=100 fxLayoutAlign="center center" class="next-prev-layout">
        <button mat-raised-button class="next-prev-button"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
        <button mat-raised-button class="next-prev-button" fxFlexOffset=5><i class="fa fa-arrow-right"
            aria-hidden="true"></i></button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
