.add-test-series-content {
  background-color: rgba(43, 42, 42, 0.644);
  width: 70%;
  margin-top: 5px;
  padding: 0px;
  padding-top: 3px;

  @media only screen and (max-width: 800px) {
    width: 80%;
    margin-top: 20px;
  }

  @media only screen and (max-width: 600px) {
    width: 80%;
  }
}

.mat-tab-content {
  background-color: rgba(0, 0, 0, 0);
  padding: 8px;
  overflow: hidden;
}

.form-field-outline {
  font-size: 0.8em;
}

::ng-deep {
  .form-field-outline .mat-form-field-outline {
    color: rgba(230, 227, 227, 0.863) !important;
  }

  .mat-form-field-invalid .mat-form-field-outline {
    color: rgb(255, 0, 0) !important;
  }
  .add-test-series-content .mat-step-header .mat-step-icon-selected {
    background-color: rgba(77, 54, 36, 0.89);
  }
  .add-test-series-content .mat-step-header .mat-step-icon-state-edit {
    background-color: brown;
  }
}

.color-for-text {
  color: rgba(230, 227, 227, 0.863);
}

.text-area-height-auto {
  padding: 0;
  margin: 0;
}

.button-layout {
  letter-spacing: 1px;
  font-weight: 500;
  background: transparent;
  color: rgb(19, 255, 196);
  border: 1px;
  border-style: double;
  border-color: rgb(19, 255, 196);
}

.button-layout:disabled {
  color: rgb(201, 201, 201);
  border-color: rgb(75, 75, 75);
}

.total-no-of-questions {
  padding: 8px;
}

.button-layout-for-add-icon {
  letter-spacing: 1px;
  font-weight: 500;
  background-color: rgba(20, 230, 149, 0.932);
  color: rgb(194, 194, 194);
  margin-top: 3px;
  font-size: 1.5em;
}
.button-layout-for-add-icon:disabled {
  color: rgb(116, 116, 116);;
}
.button-layout-for-remove-icon {
  letter-spacing: 1px;
  font-weight: 500;
  background-color: rgba(216, 25, 25, 0.863);
  color: rgb(241, 241, 241);
  margin-top: 3px;
  font-size: 1.5em;
}
.button-layout-for-remove-icon:disabled {
  color: rgb(116, 116, 116);;
}
.button-layout-for-next-icon {
  letter-spacing: 1px;
  font-weight: 500;
  background-color: rgb(32, 32, 32);
  color: rgb(241, 241, 241);
  margin-top: 3px;
  font-size: 1.5em;
}
.button-layout-for-next-icon:disabled {
  color: rgb(116, 116, 116);
}
.button-layout-for-prev-icon {
  letter-spacing: 1px;
  font-weight: 500;
  background-color: rgb(32, 32, 32);
  color: rgb(241, 241, 241);
  margin-top: 3px;
  font-size: 1.5em;
}
.button-layout-for-prev-icon:disabled {
  color: rgb(116, 116, 116);
}

.choose-answer {
  padding: 3px;
  background-image: radial-gradient(
    circle,
    rgb(139, 156, 163),
    rgb(158, 163, 165)
  );
  border: 1px;
  border-radius: 4px;
}

.error-color {
  color: rgb(247, 95, 25);
  font-weight: bold;
  margin-top: 0px;
}
