<div fxLayoutAlign="center center">
  <mat-card class="publisher-edit-content">
    <mat-card-header>
      <mat-card-title>{{'pageTitles.authPages.editProfile' | translate }}</mat-card-title>
      <mat-card-subtitle>{{authenticationService.userType | titlecase }}</mat-card-subtitle>
    </mat-card-header>
    <form class="mat-tab-content" fxLayout="column" [formGroup]="publisherEditForm" (ngSubmit)="editProfile()">
      <div class="alert alert-primary" role="alert">
        <strong>Note: </strong> {{"modifiyDetailsAlert" | translate}}
      </div>
      <div fxLayout="row wrap">
        <mat-form-field appearance="outline" class="form-field-outline" fxFlex=45 fxFlex.sm=100 fxFlex.xs=100>
          <mat-label class="color-for-text">{{'labels.fullName' | translate }}
            <font color="red">*</font>
          </mat-label>
          <input matInput type="text" class="color-for-text" formControlName="fullname">
          <mat-icon matSuffix class="color-for-text">person</mat-icon>
          <mat-error class="error-color"
            *ngIf="this.publisherEditForm.controls['fullname'].touched && this.publisherEditForm.controls['fullname'].hasError('required')">
            {{'errors.fullNameRequired' | translate}}
          </mat-error>
          <mat-error class="error-color"
            *ngIf="this.publisherEditForm.controls['fullname'].touched && !this.publisherEditForm.controls['fullname'].hasError('required') && this.publisherEditForm.controls['fullname'].hasError('pattern')">
            {{'errors.invalidFullName' | translate}}
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="form-field-outline" fxFlex=50 fxFlex.sm=100 fxFlex.xs=100
          fxFlexOffset=5 fxFlexOffset.xs=0 fxFlexOffset.sm=0>
          <mat-label class="color-for-text">{{'labels.email' | translate }}
            <font color="red">*</font>
          </mat-label>
          <input matInput type="text" class="color-for-text" formControlName="email" autocomplete="email">
          <mat-icon matSuffix class="color-for-text">mail</mat-icon>
          <mat-error class="error-color"
            *ngIf="this.publisherEditForm.controls['email'].touched && this.publisherEditForm.controls['email'].hasError('required')">
            {{'errors.emailRequired' | translate}}
          </mat-error>
          <mat-error class="error-color"
            *ngIf="this.publisherEditForm.controls['email'].touched && !this.publisherEditForm.controls['email'].hasError('required') && this.publisherEditForm.controls['email'].hasError('pattern')">
            {{'errors.invalidEmail' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row wrap">
        <mat-form-field appearance="outline" class="form-field-outline" fxFlex=45 fxFlex.sm=100 fxFlex.xs=100>
          <mat-label class="color-for-text">{{'labels.username' | translate }}
            <font color="red">*</font>
          </mat-label>
          <input matInput type="text" class="color-for-text" formControlName="username" autocomplete="username">
          <mat-icon matSuffix class="color-for-text">account_circle</mat-icon>
          <mat-error class="error-color"
            *ngIf="this.publisherEditForm.controls['username'].touched && this.publisherEditForm.controls['username'].hasError('required')">
            {{'errors.usernameRequired' | translate}}
          </mat-error>
          <mat-error class="error-color"
            *ngIf="this.publisherEditForm.controls['username'].touched && !this.publisherEditForm.controls['username'].hasError('required') && this.publisherEditForm.controls['username'].hasError('pattern')">
            {{'errors.invalidUsername' | translate}}
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="form-field-outline" fxFlex=50 fxFlex.sm=100 fxFlex.xs=100
          fxFlexOffset=5 fxFlexOffset.xs=0 fxFlexOffset.sm=0>
          <mat-label class="color-for-text">{{'labels.password' | translate }}
            <font color="red">*</font>
          </mat-label>
          <input matInput type="password" class="color-for-text" formControlName="password" autocomplete="current-password">
          <mat-icon matSuffix class="color-for-text">vpn_key</mat-icon>
          <mat-error class="error-color"
            *ngIf="this.publisherEditForm.controls['password'].touched && this.publisherEditForm.controls['password'].hasError('required')">
            {{'errors.passwordRequired' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row wrap">
        <mat-form-field appearance="outline" class="form-field-outline" fxFlex=45 fxFlex.sm=100 fxFlex.xs=100>
          <mat-label class="color-for-text">{{'labels.mobileNo' | translate }}
            <font color="red">*</font>
          </mat-label>
          <input matInput type="tel" class="color-for-text" formControlName="mobile" maxlength="10" autocomplete="mobile">
          <mat-icon matSuffix class="color-for-text">phone</mat-icon>
          <mat-error class="error-color"
            *ngIf="publisherEditForm.controls['mobile'].touched && publisherEditForm.controls['mobile'].hasError('required')">
            {{'errors.mobileNoRequired' | translate}}
          </mat-error>
          <mat-error class="error-color"
            *ngIf="publisherEditForm.controls['mobile'].touched && !publisherEditForm.controls['mobile'].hasError('required') && publisherEditForm.controls['mobile'].hasError('pattern')">
            {{'errors.invalidMobileNo' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row wrap">
        <mat-form-field appearance="outline" class="form-field-outline" fxFlex=45 fxFlex.sm=100 fxFlex.xs=100>
          <mat-label class="color-for-text">{{'labels.bankName' | translate }}
            <font color="red">*</font>
          </mat-label>
          <input matInput type="text" class="color-for-text" formControlName="bankName">
          <mat-icon matSuffix class="color-for-text">perm_identity</mat-icon>
          <mat-error class="error-color"
            *ngIf="publisherEditForm.controls['bankName'].touched && publisherEditForm.controls['bankName'].hasError('required')">
            {{'errors.bankNameRequired' | translate}}
          </mat-error>
          <mat-error class="error-color"
            *ngIf="publisherEditForm.controls['bankName'].touched && !publisherEditForm.controls['bankName'].hasError('required') && publisherEditForm.controls['bankName'].hasError('pattern')">
            {{'errors.invalidBankName' | translate}}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field-outline" fxFlex=50 fxFlex.sm=100 fxFlex.xs=100
          fxFlexOffset=5 fxFlexOffset.xs=0 fxFlexOffset.sm=0>
          <mat-label class="color-for-text">{{'labels.branchName' | translate }}
            <font color="red">*</font>
          </mat-label>
          <input matInput type="text" class="color-for-text" formControlName="branchName">
          <mat-icon matSuffix class="color-for-text">perm_identity</mat-icon>
          <mat-error class="error-color"
            *ngIf="publisherEditForm.controls['branchName'].touched && publisherEditForm.controls['branchName'].hasError('required')">
            {{'errors.branchNameRequired' | translate}}
          </mat-error>
          <mat-error class="error-color"
            *ngIf="publisherEditForm.controls['branchName'].touched && !publisherEditForm.controls['branchName'].hasError('required') && publisherEditForm.controls['branchName'].hasError('pattern')">
            {{'errors.invalidBranchName' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row wrap">
        <mat-form-field appearance="outline" class="form-field-outline" fxFlex=45 fxFlex.sm=100 fxFlex.xs=100>
          <mat-label class="color-for-text">{{'labels.accNo' | translate }}
            <font color="red">*</font>
          </mat-label>
          <input matInput type="tel" class="color-for-text" formControlName="accountNo">
          <mat-icon matSuffix class="color-for-text">perm_identity</mat-icon>
          <mat-error class="error-color"
            *ngIf="publisherEditForm.controls['accountNo'].touched && publisherEditForm.controls['accountNo'].hasError('required')">
            {{'errors.accNoRequired' | translate}}
          </mat-error>
          <mat-error class="error-color"
            *ngIf="publisherEditForm.controls['accountNo'].touched && !publisherEditForm.controls['accountNo'].hasError('required') && publisherEditForm.controls['accountNo'].hasError('pattern')">
            {{'errors.invalidAccNo' | translate}}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field-outline" fxFlex=50 fxFlex.sm=100 fxFlex.xs=100
          fxFlexOffset=5 fxFlexOffset.xs=0 fxFlexOffset.sm=0>
          <mat-label class="color-for-text">{{'labels.ifscCode' | translate }}
            <font color="red">*</font>
          </mat-label>
          <input matInput type="text" class="color-for-text" formControlName="ifscCode">
          <mat-icon matSuffix class="color-for-text">perm_identity</mat-icon>
          <mat-error class="error-color"
            *ngIf="publisherEditForm.controls['ifscCode'].touched && publisherEditForm.controls['ifscCode'].hasError('required')">
            {{'errors.ifscCodeRequired' | translate}}
          </mat-error>
          <mat-error class="error-color"
            *ngIf="publisherEditForm.controls['ifscCode'].touched && !publisherEditForm.controls['ifscCode'].hasError('required') && publisherEditForm.controls['ifscCode'].hasError('pattern')">
            {{'errors.invalidIfscCode' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayoutAlign="end start">
        <button type="button" mat-raised-button class="button-layout" fxFlex="20" fxFlex.xs="60"
          (click)="editProfile()" [disabled]="publisherEditForm.invalid">{{'labels.save' | translate }}</button>
      </div>
    </form>
  </mat-card>

</div>