.test-series-listing-content {
  background-color: rgba(43, 42, 42, 0.644);
  width: 70%;
  padding: 0px;
  padding-top: 5px;
  margin-top: 8px;

  @media only screen and (max-width: 800px) {
    width: 80%;
  }

  @media only screen and (max-width: 600px) {
    width: 80%;
  }
}

::ng-deep {
  .test-series-listing-content .mat-ink-bar {
    background: rgb(245, 154, 94) !important;
  }

  .ui-scrollpanel-bar-y {
    background-color: rgba(3, 171, 248, 0.863);
  }

  .ui-scrollpanel-bar-x {
    background-color: rgba(3, 171, 248, 0.863);
  }
}


.test-listing-table-content {
  text-align: center;
  overflow: auto;
}

.wraping-the-text {
  word-wrap: break-word;
}

.test-image {
  width: 96%;
}

.next-prev-layout {
  padding-top: 5px;
  padding-bottom: 5px;
}

.next-prev-button {
  background-color: rgba(43, 42, 42, 0.767);
}

.test-listing-row-content {
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px;
  border-color: rgb(245, 154, 94);
  border-style: double;
  padding: 8px;
}

.test-listing-heading {
  font-size: 1em;
  font-weight: bold;
  font-family: cursive;
  padding: 1px;
  word-wrap: break-word;
}

.test-listing-content {
  font-size: 0.9em;
  font-weight: normal;
  font-family: cursive;
  padding: 1px;
  word-wrap: break-word;
}

.add-to-cart-perform-button {
  background-color: rgb(26, 197, 132);
  color: rgba(43, 42, 42);
  font-weight: 500;
}
