<div fxLayoutAlign="center center">
  <mat-card class="test-series-listing-content">
    <mat-card-header>
      <mat-card-title>Test Series</mat-card-title>
      <mat-card-subtitle>{{userType | titlecase }}</mat-card-subtitle>
    </mat-card-header>
    <mat-tab-group>
      <mat-tab label="ALL TEST SERIES">
        <div fxFlex=100>
          <p-scrollPanel [style]="{width: '100%', height: height}">
            <div fxFlex=100 fxLayout="column">
              <div fxFlex=100 *ngFor="let test of testData" class="test-listing-row">
                <div fxFlex=20>
                  <img src="assets/images/IT.png" class="test-image">
                </div>
                <div fxFlex=80 class="test-listing-row-content" fxLayout="column">
                  <div fxFlex=100>
                    <div fxFlex=25 fxLayout="column">
                      <span class="test-listing-heading">Test ID</span> <span
                        class="test-listing-content">{{test.testId}}</span>
                    </div>
                    <div fxFlex=25 fxLayout="column">
                      <span class="test-listing-heading">Test Name</span><span
                        class="test-listing-content">{{test.testName}}</span>
                    </div>
                    <div fxFlex=25 fxLayout="column">
                      <span class="test-listing-heading">Test Type</span><span
                        class="test-listing-content">{{test.testType}}</span>
                    </div>
                    <div fxFlex=25 fxLayout="column">
                      <span class="test-listing-heading">No. of Questions </span><span
                        class="test-listing-content">{{test.noOfQuestions}}</span>
                    </div>
                  </div>
                  <div fxFlex=100>
                    <div fxFlex=25 fxLayout="column">
                      <span class="test-listing-heading">Duration</span> <span
                        class="test-listing-content">{{test.duration}}</span>
                    </div>
                    <div fxFlex=25 fxLayout="column">
                      <span class="test-listing-heading">Total Marks</span><span
                        class="test-listing-content">{{test.totalMarks}}</span>
                    </div>
                    <div fxFlex=25 fxLayout="column">
                      <span class="test-listing-heading">Passing Marks</span><span
                        class="test-listing-content">{{test.minMarks}}</span>
                    </div>
                    <div fxFlex=25 fxLayout="column">
                      <span class="test-listing-heading">Price </span><span
                        class="test-listing-content">{{test.price | currency:'INR'}}</span>
                    </div>
                  </div>
                  <div fxFlex=100 fxLayout="row wrap">
                    <div fxFlex=75 fxFlex.sm=100 fxFlex.xs=100 fxLayout="column">
                      <span class="test-listing-heading">Uploaded By </span><span
                        class="test-listing-content">{{test.uploadedBy}}</span>
                    </div>
                    <div fxFlex=25 fxFlex.sm=100 fxFlex.xs=100 fxLayoutAlign="start center">
                      <button mat-raised-button class="add-to-cart-perform-button">Add to Cart</button>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </p-scrollPanel>
        </div>
        <div fxFlex=100 fxLayoutAlign="center center" class="next-prev-layout">
          <button mat-raised-button class="next-prev-button"><i class="fa fa-arrow-left"
              aria-hidden="true"></i></button>
          <button mat-raised-button class="next-prev-button" fxFlexOffset=5><i class="fa fa-arrow-right"
              aria-hidden="true"></i></button>
        </div>
      </mat-tab>
      <mat-tab label="MY TEST SERIES">
        <div fxFlex=100>
          <p-scrollPanel [style]="{width: '100%', height: height}">
            <div fxFlex=100 fxLayout="column">
              <div fxFlex=100 *ngFor="let test of testData" class="test-listing-row">
                <div fxFlex=20>
                  <img src="assets/images/IT.png" class="test-image">
                </div>
                <div fxFlex=80 class="test-listing-row-content" fxLayout="column">
                  <div fxFlex=100>
                    <div fxFlex=25 fxLayout="column">
                      <span class="test-listing-heading">Test ID</span> <span
                        class="test-listing-content">{{test.testId}}</span>
                    </div>
                    <div fxFlex=25 fxLayout="column">
                      <span class="test-listing-heading">Test Name</span><span
                        class="test-listing-content">{{test.testName}}</span>
                    </div>
                    <div fxFlex=25 fxLayout="column">
                      <span class="test-listing-heading">Test Type</span><span
                        class="test-listing-content">{{test.testType}}</span>
                    </div>
                    <div fxFlex=25 fxLayout="column">
                      <span class="test-listing-heading">No. of Questions </span><span
                        class="test-listing-content">{{test.noOfQuestions}}</span>
                    </div>
                  </div>
                  <div fxFlex=100>
                    <div fxFlex=25 fxLayout="column">
                      <span class="test-listing-heading">Duration</span> <span
                        class="test-listing-content">{{test.duration}}</span>
                    </div>
                    <div fxFlex=25 fxLayout="column">
                      <span class="test-listing-heading">Total Marks</span><span
                        class="test-listing-content">{{test.totalMarks}}</span>
                    </div>
                    <div fxFlex=25 fxLayout="column">
                      <span class="test-listing-heading">Passing Marks</span><span
                        class="test-listing-content">{{test.minMarks}}</span>
                    </div>
                    <div fxFlex=25 fxLayout="column">
                      <span class="test-listing-heading">Price </span><span
                        class="test-listing-content">{{test.price | currency:'INR'}}</span>
                    </div>
                  </div>
                  <div fxFlex=100 fxLayout="row wrap">
                    <div fxFlex=75 fxFlex.sm=100 fxFlex.xs=100 fxLayout="column">
                      <span class="test-listing-heading">Uploaded By </span><span
                        class="test-listing-content">{{test.uploadedBy}}</span>
                    </div>
                    <div fxFlex=25 fxFlex.sm=100 fxFlex.xs=100 fxLayoutAlign="start center">
                      <button mat-raised-button class="add-to-cart-perform-button">Perform</button>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </p-scrollPanel>
        </div>
        <div fxFlex=100 fxLayoutAlign="center center" class="next-prev-layout">
          <button mat-raised-button class="next-prev-button"><i class="fa fa-arrow-left"
              aria-hidden="true"></i></button>
          <button mat-raised-button class="next-prev-button" fxFlexOffset=5><i class="fa fa-arrow-right"
              aria-hidden="true"></i></button>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>