<div fxLayoutAlign="center center">
  <mat-card class="user-type-content">
    <mat-card-header>
      <mat-card-title class="user-type-title">{{'pageTitles.authPages.userType' | translate }}</mat-card-title>
    </mat-card-header>
    <mat-button-toggle-group #group="matButtonToggleGroup" fxLayout="column" (change)="userTypeSelected()" [(ngModel)]="userType">
      <mat-button-toggle value="{{'userTypes.publisher' | translate }}" class="user-type-option">
        {{'userTypes.publisher' | translate }}
      </mat-button-toggle>
      <mat-button-toggle value="{{'userTypes.student' | translate }}" class="user-type-option">
        {{'userTypes.student' | translate }}
      </mat-button-toggle>
    </mat-button-toggle-group>
  </mat-card>
</div>