<div fxLayoutAlign="center center">
  <mat-card class="manage-test-series-content">
    <mat-card-header>
      <mat-card-title>{{'pageTitles.adminPages.manageTestSeries' | translate }}</mat-card-title>
      <mat-card-subtitle>{{ authenticationService.userType | titlecase }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content fxLayout="column" fxLayout="row wrap">
      <div fxFlex=100>
        <div [ngStyle]="{width: '100%', height: height,
              overflow:'auto'}">
          <div fxLayout="column">
            <div *ngFor="let test of authenticationService.allUsers" class="manage-test-listing-row-content">
            </div>
          </div>
        </div>
      </div>
      <div fxFlex=100 fxLayoutAlign="center center" class="next-prev-layout">
        <button mat-raised-button class="next-prev-button"><i class="fa
                    fa-arrow-left" aria-hidden="true"></i></button>
        <button mat-raised-button class="next-prev-button" fxFlexOffset=5><i class="fa fa-arrow-right"
            aria-hidden="true"></i></button>
      </div>
    </mat-card-content>
  </mat-card>
</div>