.manage-test-series-content {
  background-color: rgba(43, 42, 42, 0.644);
  width: 70%;
  margin-top: 3px;
  padding: 0px;
  padding-top: 3px;

  @media only screen and (max-width: 800px) {
    width: 80%;
    margin-top: 20px;
  }

  @media only screen and (max-width: 600px) {
    width: 80%;
  }
}

::ng-deep {
  .manage-test-content .mat-ink-bar {
    background: rgb(245, 154, 94) !important;
  }

}

.next-prev-layout {
  padding-top: 5px;
  padding-bottom: 5px;
}

.next-prev-button {
  background-color: rgba(43, 42, 42, 0.767);
}

.manage-test-series-row-content {
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px;
  border-color: rgb(245, 154, 94);
  border-style: double;
  padding: 8px;
}

.manage-test-series-heading {
  font-size: 1em;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1px;
  word-wrap: break-word;
}

.manage-test-series-text-content {
  font-size: 0.9em;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1px;
  word-wrap: break-word;
}

.is-visible-status {
  cursor: pointer;
  background: none;
  color: rgb(17, 148, 56);
  border: none !important;
}

.is-not-visible-status {
  cursor: pointer;
  background: none;
  color: rgba(199, 24, 18, 0.863);
  border: none !important;
}

.is-visible-status-checked {
  cursor: pointer;
  background: rgb(17, 148, 56);
  color: rgba(255, 255, 255, 0.863);
  border: none !important;
}

.is-not-visible-status-checked {
  cursor: pointer;
  background: rgb(197, 52, 26);
  color: rgba(255, 255, 255, 0.863);
  border: none !important;
}