<div fxLayoutAlign="center center">
  <mat-card class="user-more-details-content">
    <mat-card-header>
      <mat-card-title class="user-more-details-title">Student Details</mat-card-title>
    </mat-card-header>
    <div class="mat-card-content">
      <form fxLayout="column" [formGroup]="userMoreDetails">
        <mat-form-field appearance="outline" class="form-field-outline">
          <mat-label class="color-for-text">Mobile No.
            <font color="red">*</font>
          </mat-label>
          <input matInput type="tel" class="color-for-text" formControlName="mobile" maxlength="10">
          <mat-icon matSuffix class="color-for-text">phone</mat-icon>
          <mat-error class="error-color"
            *ngIf="userMoreDetails.controls['mobile'].touched && userMoreDetails.controls['mobile'].hasError('required')">
            Mobile required!
          </mat-error>
          <mat-error class="error-color"
            *ngIf="userMoreDetails.controls['mobile'].touched && !userMoreDetails.controls['mobile'].hasError('required') && userMoreDetails.controls['mobile'].hasError('pattern')">
            Invalid Mobile! Only 8 Numeric allowed!
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="form-field-outline">
          <mat-chip-list #chipList>
            <mat-chip *ngFor="let category of selectedCategories" [selectable]="true" [removable]="true"
              (removed)="removeCategory(category)">
              {{category.categoryName}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
          </mat-chip-list>
          <mat-label class="color-for-text">Choose Categories
            <font color="red">*</font>
          </mat-label>
          <input [matAutocomplete]="categoryAutoComplete" type="text" [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="[ENTER, COMMA]" [matChipInputAddOnBlur]="true"
            formControlName="choosedCategories">
          <mat-icon matSuffix class="color-for-text">phone</mat-icon>
          <mat-autocomplete #categoryAutoComplete="matAutocomplete"
            (optionSelected)="categorySelected($event.option.value)">
            <mat-option *ngFor="let category of categoriesData" [value]="category.categoryId">
              {{category.categoryName}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
    </div>
  </mat-card>
</div>