<div fxLayoutAlign="center center">
  <mat-card class="user-more-details-content">
    <mat-card-header>
      <mat-card-title class="user-more-details-title">{{'pageTitles.authPages.studentMoreDetails' | translate }}</mat-card-title>
    </mat-card-header>
    <div class="mat-card-content">
      <form fxLayout="column" [formGroup]="userMoreDetails">
        <mat-form-field appearance="outline" class="form-field-outline">
          <mat-label class="color-for-text">{{'labels.mobileNo' | translate }}
            <font color="red">*</font>
          </mat-label>
          <input matInput type="tel" class="color-for-text" formControlName="mobile" maxlength="10">
          <mat-icon matSuffix class="color-for-text">phone</mat-icon>
          <mat-error class="error-color"
            *ngIf="userMoreDetails.controls['mobile'].touched && userMoreDetails.controls['mobile'].hasError('required')">
            {{'errors.mobileNoRequired' | translate}}
          </mat-error>
          <mat-error class="error-color"
            *ngIf="userMoreDetails.controls['mobile'].touched && !userMoreDetails.controls['mobile'].hasError('required') && userMoreDetails.controls['mobile'].hasError('pattern')">
            {{'errors.invalidMobileNo' | translate}}
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="form-field-outline">
          <mat-chip-list #categoryList>
            <mat-chip *ngFor="let category of selectedCategoriesObjects" [selectable]="true" [removable]="true"
              (removed)="removeCategory(category)" class="category-item">
              {{category.name}}
              <mat-icon matChipRemove class="close-button">cancel
              </mat-icon>
            </mat-chip>
          </mat-chip-list>
          <mat-label class="color-for-text">{{'labels.chooseCategories' | translate }}
            <font color="red">*</font>
          </mat-label>
          <input style="padding: 1%; width: 100%;" [matAutocomplete]="categoryAutoComplete" type="text" [matChipInputFor]="categoryList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true"
            formControlName="choosedCategory" (matChipInputTokenEnd)="clearCategory($event)">
          <mat-icon matSuffix class="question-icon-size" fxLayoutAlign="center center"><span aria-hidden="true"
              matTooltip="Available categories" [matTooltipPosition]="'below'"
              (click)="availableCategories()">category</span></mat-icon>
          <mat-autocomplete #categoryAutoComplete="matAutocomplete"
            (optionSelected)="categorySelected($event.option.value)">
            <mat-option
              *ngFor="let category of authenticationService.allCategories | filterCategories : userMoreDetails.controls['choosedCategory'].value"
              [value]="category.id">
              {{category.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field-outline">
          <mat-chip-list #subCategoryList>
            <mat-chip *ngFor="let subCategory of selectedSubCategoriesObjects" [selectable]="true" [removable]="true"
              (removed)="removeSubCategory(subCategory)" class="category-item">
              {{subCategory.name}}
              <mat-icon matChipRemove class="close-button">cancel
              </mat-icon>
            </mat-chip>
          </mat-chip-list>
          <mat-label class="color-for-text">{{'labels.chooseSubCategories' | translate }}
            <font color="red">*</font>
          </mat-label>
          <input style="padding: 1%; width: 100%;" [matAutocomplete]="subCategoryAutoComplete" type="text" [matChipInputFor]="subCategoryList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true"
            formControlName="choosedSubCategory" (matChipInputTokenEnd)="clearSubCategory($event)">
          <mat-icon matSuffix class="question-icon-size" fxLayoutAlign="center center"><span aria-hidden="true"
              matTooltip="Available sub-categories" [matTooltipPosition]="'below'"
              (click)="availableSubCategories()">category</span></mat-icon>
          <mat-autocomplete #subCategoryAutoComplete="matAutocomplete"
            (optionSelected)="subCategorySelected($event.option.value)">
            <mat-option
              *ngFor="let subCategory of filteredSubCategories | filterSubCategories : userMoreDetails.controls['choosedSubCategory'].value"
              [value]="subCategory.id">
              {{subCategory.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <div fxLayoutAlign="end start">
          <span class="skip-this-step-label" fxFlex="40" fxFlex.xs="60" (click)="skipTheStepAction()">Skip this
            Step..</span>
        </div>
        <div fxLayoutAlign="end start">
          <button type="button" mat-raised-button class="button-layout" fxFlex="40" fxFlex.xs="60"
            (click)="saveDetails()">{{'labels.save' | translate }}</button>
        </div>
      </form>
    </div>
  </mat-card>
</div>