<div fxLayoutAlign="center center" fxFlex=100>
  <mat-card class="manage-categories-content">
    <mat-card-header>
      <mat-card-title>{{'pageTitles.adminPages.manageCategories' | translate }} </mat-card-title>
      <mat-card-subtitle>{{ authenticationService.userType | titlecase }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content fxLayout="column" fxLayout="row wrap">
      <div fxFlex=100>
        <p-scrollPanel [style]="{width: '100%', height: height,
                overflow:'hidden'}">
          <div fxFlex=100 fxLayout="column">
            <div fxFlex=100 *ngFor="let category of adminService.allCategories[currentPage]"
              class="manage-categories-listing-row">
              <div class="manage-categories-listing-row-content" fxLayout="column">
                <div fxLayout="column">
                  <div fxLayout>
                    <span class="manage-categories-listing-heading" fxFlex=50>{{
                          'manageCategoriesLabels.categoryName'
                          | translate }} : </span>
                    <span class="manage-categories-listing-content" fxFlex=50>{{category.name}}</span>
                  </div>
                  <div fxLayout>
                    <span class="manage-categories-listing-heading" fxFlex=50>{{
                          'manageCategoriesLabels.subCategoryName'
                          | translate }} : </span>
                    <div fxFlex=50>
                      <span *ngFor="let subCategory of category.subjectCategoryIdToSubCategory; let i = index">
                        <span class="manage-categories-listing-content" style="background: rgba(99, 99, 99, 0.63); color: rgba(255, 255, 255, 0.63);">
                          {{subCategory.name}}
                        </span> &nbsp;
                      </span>
                    </div>

                  </div>
                </div>
                <div fxLayoutAlign="end center" style="padding: 2%;">
                  <button type="button" mat-raised-button class="update-category-btn"
                    (click)="addUpdateCategoriesDialog(category, i)"><i class="fa fa-pencil-square-o"
                      aria-hidden="true"></i>&nbsp;{{'manageCategoriesLabels.updateCategory' | translate }}</button>
                  <button type="button" mat-raised-button class="delete-category-btn"
                    (click)="deleteCategories(category)" fxFlexOffset=5><i class="fa fa-trash-o"
                      aria-hidden="true"></i>&nbsp;{{'manageCategoriesLabels.deleteCategory' | translate }}</button>
                </div>
              </div>
            </div>
            <div fxFlex=100>
              &nbsp;&nbsp;
            </div>
          </div>
        </p-scrollPanel>
      </div>
      <div fxFlex=100 fxLayoutAlign="end center" class="next-prev-layout">
        <span class="add-category-btn" (click)="addUpdateCategoriesDialog(undefined, undefined)"
          fxLayoutAlign="end center">{{'manageCategoriesLabels.addNewCategory' | translate }}</span>
      </div>
      <div fxFlex=100 fxLayoutAlign="center center" class="next-prev-layout">
        <button mat-raised-button class="next-prev-button" (click)="prevPage()"
          [disabled]="!adminService.allCategories[currentPage - 1]"><i class="fa
                      fa-arrow-left" aria-hidden="true"></i></button>
        <button mat-raised-button class="next-prev-button" fxFlexOffset=5
          [disabled]="!adminService.allCategories[currentPage + 1]" (click)="nextPage()"><i class="fa fa-arrow-right"
            aria-hidden="true"></i></button>
      </div>
    </mat-card-content>
  </mat-card>
</div>