.manage-categories-content {
  background-color: rgba(43, 42, 42, 0.644);
  width: 70%;
  margin-top: 1%;
  padding: 0%;
  padding-top: 1%;

  @media only screen and (max-width: 800px) {
    width: 80%;
    margin-top: 12%;
  }

  @media only screen and (max-width: 600px) {
    width: 80%;
  }
}

::ng-deep {
  .manage-categories-content .mat-ink-bar {
    background: rgb(245, 154, 94) !important;
  }

  .ui-scrollpanel-bar-y {
    background-color: rgba(3, 171, 248, 0.863);
  }

  .ui-scrollpanel-bar-x {
    background-color: rgba(3, 171, 248, 0.863);
  }

  .mat-button-toggle-label-content {
    line-height: 2 !important;
  }

  .mat-button-toggle-label-content {
    line-height: 2 !important;
  }
}

.user-activated-accept-status {
  cursor: pointer;
  background: none;
  color: rgb(17, 148, 56);
  border: none !important;
}

.user-activated-reject-status {
  cursor: pointer;
  background: none;
  color: rgba(199, 24, 18, 0.863);
  border: none !important;
}

.user-activated-accept-status-checked {
  cursor: pointer;
  background: rgb(17, 148, 56);
  color: rgba(255, 255, 255, 0.863);
  border: none !important;
}

.user-activated-reject-status-checked {
  cursor: pointer;
  background: rgb(197, 52, 26);
  color: rgba(255, 255, 255, 0.863);
  border: none !important;
}

.manage-categories-listing-row {
  color: rgba(43, 42, 42);
  padding: 1%;
}

.manage-categories-listing-heading {
  font-size: 100%;
  font-weight: bold;
  font-family: cursive;
  padding: 1%;
  word-wrap: break-word;
}

.manage-categories-listing-content {
  font-size: 100%;
  font-weight: normal;
  font-family: cursive;
  padding: 1%;
  word-wrap: break-word;
}

.manage-categories-listing-row-content {
  background-color: rgba(219, 216, 214, 0.664);
}

.next-prev-layout {
  padding-top: 1%;
  padding-bottom: 1%;
}

.next-prev-button {
  background-color: rgba(43, 42, 42, 0.767);
}

.add-category-btn {
  letter-spacing: 1px;
  font-weight: 500;
  padding: 1%;
  margin: 2%;
  cursor: pointer;
}
.add-category-btn:hover{
  color: rgb(7, 119, 248);
}

.update-category-btn {
  letter-spacing: 1px;
  font-weight: 500;
  background-image: radial-gradient(
    circle,
    rgb(89, 199, 199),
    rgb(76, 179, 179)
  );
  color: rgb(44, 44, 44);
}

.delete-category-btn {
  letter-spacing: 1px;
  font-weight: 500;
  background-image: radial-gradient(
    circle,
    rgb(219, 40, 27),
    rgb(192, 62, 53)
  );
  color: rgb(44, 44, 44);
}
