::ng-deep {
  .mat-dialog-container {
    padding: 0px;
    background: none;
    border-style: solid;
    border-color: rgb(26, 25, 25);
  }
}
.margin-zero {
  margin: 0px;
}
.dialog-content {
  background-color: rgba(43, 42, 42, 0.884);
}
.dialog-action {
  margin-bottom: 0px;
  background-color: rgba(43, 42, 42, 0.884);
}
.dialog-title-icon {
  padding: 5px;
}
.margin-right-2 {
  margin-right: 5px;
}
.button-padding-2 {
  border-radius: 3px;
}

.mat-tab-content {
  background-color: rgba(0, 0, 0, 0);
  margin-top: 8px;
  overflow: hidden;
}

.form-field-outline {
  font-size: 0.75em;
}

::ng-deep {
  .form-field-outline .mat-form-field-outline {
    color: rgba(230, 227, 227, 0.863) !important;
  }

  .mat-form-field-invalid .mat-form-field-outline {
    color: rgb(255, 0, 0) !important;
  }
}

.color-for-text {
  color: rgba(230, 227, 227, 0.863);
}

.color-for-add-icon {
  color: rgba(9, 133, 91, 0.863);
}

.color-for-remove-icon {
  color: rgba(180, 37, 1, 0.863);
}

.button-layout {
  letter-spacing: 1px;
  font-weight: 500;
  background: transparent;
  color: rgb(25, 252, 176);
  border: 1px;
  border-style: double;
  border-color: rgb(25, 252, 176);
}

.button-layout:disabled {
  color: rgb(201, 201, 201);
  border-color: rgb(75, 75, 75);
}

.error-color {
  color: rgb(247, 95, 25);
  padding-top: 4px;
  font-weight: bold;
}
