<div fxLayoutAlign="center center">
  <mat-card class="perform-test-series-content">
    <mat-card-header>
      <mat-card-title>{{'pageTitles.studentPages.performTest' | translate }}</mat-card-title>
      <mat-card-subtitle>{{ authenticationService.userType | titlecase }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content fxLayout="column" fxLayout="row wrap">
      <div fxFlex=100 fxLayout="column" *ngIf="!isConfirmed">
        <div fxFlex=100 fxLayout="column" fxLayoutAlign="center center" class="test-perform-row-content">
          <img src="../../../assets/images/Test.png">
          <br>
          <div fxFlex=100 fxLayout="column" style="width: 100%;">
            <div fxFlex=100>
              <div fxFlex=50 fxLayout="column">
                <span class="test-perform-heading">{{'testSeriesListingLabels.testName' | translate }}</span><span
                  class="test-perform-content">{{testData.name}}</span>
              </div>
              <div fxFlex=25 fxLayout="column">
                <span class="test-perform-heading">{{'testSeriesListingLabels.testType' | translate }}</span><span
                  class="test-perform-content">{{testData.subjectSubCategoryIdToTestSeries.name}}</span>
              </div>
              <div fxFlex=25 fxLayout="column">
                <span class="test-perform-heading">{{'testSeriesListingLabels.noOfQuestions' | translate }}</span><span
                  class="test-perform-content">{{testData.totalQuestions}}</span>
              </div>
            </div>
            <div fxFlex=100>
              <div fxFlex=25 fxLayout="column">
                <span class="test-perform-heading">{{'testSeriesListingLabels.duration' | translate }}</span> <span
                  class="test-perform-content">{{testData.durationMin}}</span>
              </div>
              <div fxFlex=25 fxLayout="column">
                <span class="test-perform-heading">{{'testSeriesListingLabels.totalMarks' | translate }}</span><span
                  class="test-perform-content">{{testData.totalMarks}}</span>
              </div>
              <div fxFlex=25 fxLayout="column">
                <span class="test-perform-heading">{{'testSeriesListingLabels.minMarks' | translate }}</span><span
                  class="test-perform-content">{{testData.passingMarks}}</span>
              </div>
              <div fxFlex=25 fxLayout="column">
                <span class="test-perform-heading">{{'testSeriesListingLabels.price' | translate }}</span><span
                  class="test-perform-content">{{testData.price | currency:'INR'}}</span>
              </div>
            </div>
            <div fxFlex=100 fxLayout="row wrap">
              <div fxFlex=25 fxFlex.sm=100 fxFlex.xs=100 fxLayout="column">
                <span class="test-perform-heading">{{'testSeriesListingLabels.ratings' | translate }}</span><span
                  class="test-perform-content">
                  <ratings [rating]= "getRatings(testData.testSeriesIdToRatings)" [type]="'r'" [sizeInEm]="1.2"></ratings>
                </span>
              </div>
            </div>
            <div fxFlex=100 fxLayout="row wrap">
              <div fxFlex=100 fxLayoutAlign="end center">
                <button mat-raised-button class="confirm-button"
                  (click)="confirmTest()">{{'testSeriesListingLabels.confirm' | translate }}</button>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div fxFlex=100 fxLayout="column" *ngIf="isConfirmed">
        <div fxFlex=100 class="test-perform-row" fxLayoutAlign="end center" *ngIf="minutes && seconds">
          <div fxFlex=25 fxFlex.sm=45 fxFlex.xs=50
            [ngClass]="{'timer-success': (durationInSeconds > 9), 'timer-danger': (durationInSeconds <= 9)}">
            {{minutes}} : {{seconds}}
          </div>
        </div>
        <div fxFlex=100 class="test-perform-row">
          <mat-grid-list [cols]="questionCols">
            <mat-grid-tile *ngFor="let question of questions" fxFlex=20>
              <button mat-fab
                [ngClass]="{'unattempted-button': !question.attempted, 'attempted-button': question.attempted}"
                (click)="goToQuestion(question.questionNo)">
                {{question.questionNo}}
              </button>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
        <div fxFlex=100 class="test-perform-row test-perform-row-content" fxLayout="column">
          <div class="test-perform-question-heading">
            {{currentPosition + 1}}.
            {{questionsArray[currentPosition].questionText}}
          </div>
          <div>
            <mat-button-toggle-group #group="matButtonToggleGroup" fxLayout="column" style="color: black;" [(ngModel)]="studentPerformedTest.studentChoosedAnswers[currentPosition].choosedAnswer"
              (change)="answerSelected($event.value)" fxFlex=100>
              <div>
                <mat-button-toggle [value]="questionsArray[currentPosition].choice1" class="user-type-option" fxFlex=50>
                  {{questionsArray[currentPosition].choice1}}
                </mat-button-toggle>
                <mat-button-toggle [value]="questionsArray[currentPosition].choice2" class="user-type-option" fxFlex=50>
                  {{questionsArray[currentPosition].choice2}}
                </mat-button-toggle>
              </div>
              <div>
                <mat-button-toggle [value]="questionsArray[currentPosition].choice3" class="user-type-option" fxFlex=50>
                  {{questionsArray[currentPosition].choice3}}
                </mat-button-toggle>
                <mat-button-toggle [value]="questionsArray[currentPosition].choice4" class="user-type-option" fxFlex=50>
                  {{questionsArray[currentPosition].choice4}}
                </mat-button-toggle>
              </div>
            </mat-button-toggle-group>
          </div>
          <div fxLayoutAlign="center center" fxLayout="row wrap">
            <button mat-raised-button class="skip-button" fxFlex=30 (click)="questionSubmited(false)"
              fxFlex.xs=80>{{'testPerformLabels.skipTheQuestion' | translate }}</button>
            <button mat-raised-button class="submit-button" fxFlex=25 fxFlex.xs=80 fxFlexOffset=3 fxFlexOffset.sm=0
              fxFlexOffset.xs=0 (click)="questionSubmited(false)"
              [disabled]="!questionsArray[currentPosition + 1] || (!studentPerformedTest.studentChoosedAnswers[currentPosition] || !studentPerformedTest.studentChoosedAnswers[currentPosition].choosedAnswer || studentPerformedTest.studentChoosedAnswers[currentPosition].choosedAnswer === '')">{{'testPerformLabels.next' | translate }}</button>
            <button mat-raised-button class="submit-button" fxFlex=25 fxFlex.xs=80 fxFlexOffset=3 fxFlexOffset.sm=0
              fxFlexOffset.xs=0 (click)="testPerformed()">{{'testPerformLabels.submit' | translate }}</button>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

</div>