<div fxLayoutAlign="center center">
  <mat-card class="manage-users-content">
    <mat-card-header>
      <mat-card-title>{{'pageTitles.adminPages.manageUsers' | translate }}</mat-card-title>
      <mat-card-subtitle>{{ authenticationService.userType | titlecase }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content fxLayout="column" fxLayout="row wrap">
      <div fxFlex=100>
        <div [ngStyle]="{ width: '100%', height: height,
            overflow:'auto' }">
          <div fxFlex=100 fxLayout="column">
            <div fxFlex=100 *ngFor="let user of adminService.allUsers[currentPage]" class="manage-users-listing-row">
              <div fxFlex=100 class="manage-users-listing-row-content" fxLayout="column">
                <div fxFlex=100 fxLayout fxLayout.xs="column" fxLayout.sm="column">
                  <div fxFlex=25 style="margin: 1%;" fxLayout="column" fxLayout.xs="row" fxLayout.sm="row">
                    <span class="manage-users-listing-heading">{{
                                'manageUsersListingLabels.fullName'
                                | translate }}</span>
                    <span class="manage-users-listing-content">{{ user.fullName }}</span>
                    <span class="manage-users-listing-heading">{{
                        'manageUsersListingLabels.type'
                        | translate }}</span>
                    <span class="manage-users-listing-content">{{ user.type }}</span>
                  </div>
                  <div fxFlex=25 style="margin: 1%;" fxLayout="column" fxLayout.xs="row" fxLayout.sm="row">
                    <span class="manage-users-listing-heading">{{
                        'manageUsersListingLabels.username'
                                | translate }}</span><span
                      class="manage-users-listing-content">{{ user.username }}</span>
                  </div>
                  <div fxFlex=25 style="margin: 1%;" fxLayout="column" fxLayout.xs="row" fxLayout.sm="row">
                    <span class="manage-users-listing-heading">{{
                        'manageUsersListingLabels.email'
                                | translate }}</span><span class="manage-users-listing-content">{{ user.email }}</span>
                  </div>
                  <div fxFlex=25 style="margin: 1%;" fxLayout="column" fxLayout.xs="row" fxLayout.sm="row">
                    <span class="manage-users-listing-heading">{{
                                'manageUsersListingLabels.status'
                                | translate }}</span>
                    <div fxLayout="row wrap">
                      <mat-button-toggle-group #requestStatus="matButtonToggleGroup" fxLayout="column" fxLayout.xs="row" fxLayout.sm="row"
                        [(ngModel)]="user.isActivated" (change)="userStatusChanged(user)">
                        <mat-button-toggle [value]="true"
                          [ngClass]="{'user-activated-accept-status': !user.isActivated, 'user-activated-accept-status-checked': user.isActivated}">
                          {{
                                        ('manageUsersListingLabels.active'
                                        | translate) | uppercase }}
                        </mat-button-toggle>
                        <mat-button-toggle [value]="false"
                          [ngClass]="{'user-activated-reject-status-checked': !user.isActivated, 'user-activated-reject-status': user.isActivated}">
                          {{
                                        ('manageUsersListingLabels.notActive'
                                        | translate) | uppercase }}
                        </mat-button-toggle>
                      </mat-button-toggle-group>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div fxFlex=100 fxLayoutAlign="center center" class="next-prev-layout">
        <button mat-raised-button class="next-prev-button" (click)="prevPage()"
          [disabled]="!adminService.allUsers[currentPage - 1]"><i class="fa
                  fa-arrow-left" aria-hidden="true"></i></button>
        <button mat-raised-button class="next-prev-button" fxFlexOffset=5
          [disabled]="!adminService.allUsers[currentPage + 1]" (click)="nextPage()"><i class="fa fa-arrow-right"
            aria-hidden="true"></i></button>
      </div>
    </mat-card-content>
  </mat-card>
</div>