<div class="home-backgroud" fxLayout="column">
  <mat-toolbar class="home-header">
    <mat-toolbar-row class="home-header-row" fxLayout="column" fxLayoutAlign="start start">
      <span class="header-heading">
        <i class="fa fa-graduation-cap" aria-hidden="true"></i>&nbsp;
        StudyBoom
      </span>
      <span class="header-tagline">
        A place where you can enhance your <br *ngIf="isNotBigScreen"> knowlegde and skills by performing various <br *ngIf="isNotBigScreen"> tests..
      </span>
    </mat-toolbar-row>
  </mat-toolbar>
  <router-outlet name="home-page-router" activatedRouteData=""></router-outlet>
</div>