<div class="main-div-animation" fxLayout="column" fxLayoutAlign="center center" *ngIf="loadingService.loading">
  <div class="cssload-thecube">
    <div class="cssload-cube cssload-c1"></div>
    <div class="cssload-cube cssload-c2"></div>
    <div class="cssload-cube cssload-c4"></div>
    <div class="cssload-cube cssload-c3"></div>
  </div>
  <br>
  <span class="anim-loading-title"><b>Loading...</b></span>
</div>
<div class="home-backgroud" fxLayout="column">
  <div class="home-header">
    <div class="home-header-row" fxLayout="column" fxLayoutAlign="start start">
      <span class="header-heading">
        <i class="fa fa-graduation-cap" aria-hidden="true"></i>&nbsp;
        StudyBoom Application
      </span>
      <span class="header-tagline" fxFelx="100">
        A place where you can enhance your knowlegde and skills by performing various tests..
      </span>
    </div>
  </div>
  <div @routerInAnimation>
    <router-outlet name="home-page-router"></router-outlet>
  </div>
</div>