<div fxLayoutAlign="center center">
  <mat-card class="admin-edit-content">
    <mat-card-header>
      <mat-card-title>{{'pageTitles.authPages.editProfile' | translate }}</mat-card-title>
      <mat-card-subtitle>{{ authenticationService.userType | titlecase }}</mat-card-subtitle>
    </mat-card-header>
    <form class="mat-tab-content" fxLayout="column" [formGroup]="adminEditForm">
      <div fxLayout="row wrap">
        <mat-form-field appearance="outline" class="form-field-outline" fxFlex=45 fxFlex.sm=100 fxFlex.xs=100>
          <mat-label class="color-for-text">{{'labels.fullName' | translate }}
            <font color="red">*</font>
          </mat-label>
          <input matInput type="text" class="color-for-text" formControlName="fullname">
          <mat-icon matSuffix class="color-for-text">person</mat-icon>
          <mat-error class="error-color"
            *ngIf="this.adminEditForm.controls['fullname'].touched && this.adminEditForm.controls['fullname'].hasError('required')">
            {{'errors.fullNameRequired' | translate}}
          </mat-error>
          <mat-error class="error-color"
            *ngIf="this.adminEditForm.controls['fullname'].touched && !this.adminEditForm.controls['fullname'].hasError('required') && this.adminEditForm.controls['fullname'].hasError('pattern')">
            {{'errors.invalidFullName' | translate}}
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="form-field-outline" fxFlex=50 fxFlex.sm=100 fxFlex.xs=100
          fxFlexOffset=5 fxFlexOffset.xs=0 fxFlexOffset.sm=0>
          <mat-label class="color-for-text">{{'labels.email' | translate }}
            <font color="red">*</font>
          </mat-label>
          <input matInput type="text" class="color-for-text" formControlName="email">
          <mat-icon matSuffix class="color-for-text">mail</mat-icon>
          <mat-error class="error-color"
            *ngIf="this.adminEditForm.controls['email'].touched && this.adminEditForm.controls['email'].hasError('required')">
            {{'errors.emailRequired' | translate}}
          </mat-error>
          <mat-error class="error-color"
            *ngIf="this.adminEditForm.controls['email'].touched && !this.adminEditForm.controls['email'].hasError('required') && this.adminEditForm.controls['email'].hasError('pattern')">
            {{'errors.invalidEmail' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row wrap">
        <mat-form-field appearance="outline" class="form-field-outline" fxFlex=45 fxFlex.sm=100 fxFlex.xs=100>
          <mat-label class="color-for-text">{{'labels.username' | translate }}
            <font color="red">*</font>
          </mat-label>
          <input matInput type="text" class="color-for-text" formControlName="username">
          <mat-icon matSuffix class="color-for-text">account_circle</mat-icon>
          <mat-error class="error-color"
            *ngIf="this.adminEditForm.controls['username'].touched && this.adminEditForm.controls['username'].hasError('required')">
            {{'errors.usernameRequired' | translate}}
          </mat-error>
          <mat-error class="error-color"
            *ngIf="this.adminEditForm.controls['username'].touched && !this.adminEditForm.controls['username'].hasError('required') && this.adminEditForm.controls['username'].hasError('pattern')">
            {{'errors.invalidUsername' | translate}}
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="form-field-outline" fxFlex=50 fxFlex.sm=100 fxFlex.xs=100
          fxFlexOffset=5 fxFlexOffset.xs=0 fxFlexOffset.sm=0>
          <mat-label class="color-for-text">{{'labels.password' | translate }}
            <font color="red">*</font>
          </mat-label>
          <input matInput type="password" class="color-for-text" formControlName="password">
          <mat-icon matSuffix class="color-for-text">vpn_key</mat-icon>
          <mat-error class="error-color"
            *ngIf="this.adminEditForm.controls['password'].touched && this.adminEditForm.controls['password'].hasError('required')">
            {{'errors.passwordRequired' | translate}}
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayoutAlign="end start">
        <button type="button" mat-raised-button class="button-layout" fxFlex="20" fxFlex.xs="60"
          (click)="editProfile()" [disabled]="adminEditForm.invalid">{{'labels.save' | translate }}</button>
      </div>
    </form>
  </mat-card>

</div>