<div fxLayoutAlign="center center">
  <mat-card class="admin-edit-content">
    <mat-card-header>
      <mat-card-title>Edit Profile</mat-card-title>
      <mat-card-subtitle>{{userType | titlecase }}</mat-card-subtitle>
    </mat-card-header>
    <form class="mat-tab-content" fxLayout="column" [formGroup]="adminRegisterForm" (ngSubmit)="editProfile()">
      <div fxLayout="row wrap">
        <mat-form-field appearance="outline" class="form-field-outline" fxFlex=45 fxFlex.sm=100 fxFlex.xs=100>
          <mat-label class="color-for-text">Full Name
            <font color="red">*</font>
          </mat-label>
          <input matInput type="text" class="color-for-text" formControlName="fullname">
          <mat-icon matSuffix class="color-for-text">person</mat-icon>
          <mat-error class="error-color"
            *ngIf="this.adminRegisterForm.controls['fullname'].touched && this.adminRegisterForm.controls['fullname'].hasError('required')">
            Full Name required!
          </mat-error>
          <mat-error class="error-color"
            *ngIf="this.adminRegisterForm.controls['fullname'].touched && !this.adminRegisterForm.controls['fullname'].hasError('required') && this.adminRegisterForm.controls['fullname'].hasError('pattern')">
            Invalid Full Name! Only alphabets and space allowed!
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="form-field-outline" fxFlex=50 fxFlex.sm=100 fxFlex.xs=100
          fxFlexOffset=5 fxFlexOffset.xs=0 fxFlexOffset.sm=0>
          <mat-label class="color-for-text">Email
            <font color="red">*</font>
          </mat-label>
          <input matInput type="text" class="color-for-text" formControlName="email">
          <mat-icon matSuffix class="color-for-text">mail</mat-icon>
          <mat-error class="error-color"
            *ngIf="this.adminRegisterForm.controls['email'].touched && this.adminRegisterForm.controls['email'].hasError('required')">
            Email required!
          </mat-error>
          <mat-error class="error-color"
            *ngIf="this.adminRegisterForm.controls['email'].touched && !this.adminRegisterForm.controls['email'].hasError('required') && this.adminRegisterForm.controls['email'].hasError('pattern')">
            Invalid Email Address! Only alphanumeric and "@" allowed!
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row wrap">
        <mat-form-field appearance="outline" class="form-field-outline" fxFlex=45 fxFlex.sm=100 fxFlex.xs=100>
          <mat-label class="color-for-text">Username
            <font color="red">*</font>
          </mat-label>
          <input matInput type="text" class="color-for-text" formControlName="username">
          <mat-icon matSuffix class="color-for-text">account_circle</mat-icon>
          <mat-error class="error-color"
            *ngIf="this.adminRegisterForm.controls['username'].touched && this.adminRegisterForm.controls['username'].hasError('required')">
            Username required!
          </mat-error>
          <mat-error class="error-color"
            *ngIf="this.adminRegisterForm.controls['username'].touched && !this.adminRegisterForm.controls['username'].hasError('required') && this.adminRegisterForm.controls['username'].hasError('pattern')">
            Invalid Username! Only alphanumeric allowed!
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="form-field-outline" fxFlex=50 fxFlex.sm=100 fxFlex.xs=100
          fxFlexOffset=5 fxFlexOffset.xs=0 fxFlexOffset.sm=0>
          <mat-label class="color-for-text">Password
            <font color="red">*</font>
          </mat-label>
          <input matInput type="password" class="color-for-text" formControlName="password">
          <mat-icon matSuffix class="color-for-text">vpn_key</mat-icon>
          <mat-error class="error-color"
            *ngIf="this.adminRegisterForm.controls['password'].touched && this.adminRegisterForm.controls['password'].hasError('required')">
            Password required!
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayoutAlign="end start">
        <button type="button" mat-raised-button class="button-layout" fxFlex="20" fxFlex.xs="60"
          (click)="performRegistration()">Save</button>
      </div>
    </form>
  </mat-card>

</div>