<div fxLayoutAlign="center start">
  <mat-card class="login-register-content">
    <mat-tab-group>
      <mat-tab label="Login">
        <form class="mat-tab-content" fxLayout="column" [formGroup]="loginForm" (ngSubmit)="performLogin()">
          <div class="alert alert-danger" role="alert" *ngIf="loginErrorText">
            <strong>Warning : </strong> {{loginErrorText}}
          </div>
          <mat-form-field appearance="outline" class="form-field-outline">
            <mat-label class="color-black">Username / Email
              <font color="red">*</font>
            </mat-label>
            <input matInput type="text" class="color-black" formControlName="username">
            <mat-icon matSuffix class="color-black">account_circle</mat-icon>
            <mat-error class="error-color" *ngIf="this.loginForm.controls['username'].touched && this.loginForm.controls['username'].hasError('required')">
              Username required!
            </mat-error>
            <mat-error class="error-color" *ngIf="this.loginForm.controls['username'].touched && !this.loginForm.controls['username'].hasError('required') && this.loginForm.controls['username'].hasError('pattern')">
              Invalid Username! Only alphanumeric and "@" allowed!
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="form-field-outline">
            <mat-label class="color-black">Password
              <font color="red">*</font>
            </mat-label>
            <input matInput type="password" class="color-black" formControlName="password">
            <mat-icon matSuffix class="color-black">vpn_key</mat-icon>
            <mat-error class="error-color" *ngIf="this.loginForm.controls['password'].touched && this.loginForm.controls['password'].hasError('required')">
              Password required!
            </mat-error>
          </mat-form-field>
          <div fxLayoutAlign="end center">
            <span class="forgot-password-label" (click)="openDialog()">Forgot Password?</span>
          </div>
          <div fxLayoutAlign="end center">
            <button type="button" mat-raised-button class="button-layout" fxFlex="40" fxFlex.xs="60" (click)="performLogin()">Login</button>
          </div>
        </form>
      </mat-tab>
      <mat-tab label="Registration">
        <form class="mat-tab-content" fxLayout="column" [formGroup]="registerForm" (ngSubmit)="performRegistration()">
          <div class="alert alert-danger" role="alert" *ngIf="registrationErrorText">
            <strong>Warning : </strong> {{registrationErrorText}}
          </div>
          <mat-form-field appearance="outline" class="form-field-outline">
            <mat-label class="color-black">Full Name
              <font color="red">*</font>
            </mat-label>
            <input matInput type="text" class="color-black" formControlName="fullname">
            <mat-icon matSuffix class="color-black">person</mat-icon>
            <mat-error class="error-color" *ngIf="this.registerForm.controls['fullname'].touched && this.registerForm.controls['fullname'].hasError('required')">
              Full Name required!
            </mat-error>
            <mat-error class="error-color" *ngIf="this.registerForm.controls['fullname'].touched && !this.registerForm.controls['fullname'].hasError('required') && this.registerForm.controls['fullname'].hasError('pattern')">
              Invalid Full Name! Only alphabets and space allowed!
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="form-field-outline">
            <mat-label class="color-black">Email
              <font color="red">*</font>
            </mat-label>
            <input matInput type="text" class="color-black" formControlName="email">
            <mat-icon matSuffix class="color-black">mail</mat-icon>
            <mat-error class="error-color" *ngIf="this.registerForm.controls['email'].touched && this.registerForm.controls['email'].hasError('required')">
              Email required!
            </mat-error>
            <mat-error class="error-color" *ngIf="this.registerForm.controls['email'].touched && !this.registerForm.controls['email'].hasError('required') && this.registerForm.controls['email'].hasError('pattern')">
              Invalid Email Address! Only alphanumeric and "@" allowed!
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="form-field-outline">
            <mat-label class="color-black">Username
              <font color="red">*</font>
            </mat-label>
            <input matInput type="text" class="color-black" formControlName="username">
            <mat-icon matSuffix class="color-black">account_circle</mat-icon>
            <mat-error class="error-color" *ngIf="this.registerForm.controls['username'].touched && this.registerForm.controls['username'].hasError('required')">
              Username required!
            </mat-error>
            <mat-error class="error-color" *ngIf="this.registerForm.controls['username'].touched && !this.registerForm.controls['username'].hasError('required') && this.registerForm.controls['username'].hasError('pattern')">
              Invalid Username! Only alphanumeric allowed!
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="form-field-outline">
            <mat-label class="color-black">Password
              <font color="red">*</font>
            </mat-label>
            <input matInput type="password" class="color-black" formControlName="password">
            <mat-icon matSuffix class="color-black">vpn_key</mat-icon>
            <mat-error class="error-color" *ngIf="this.registerForm.controls['password'].touched && this.registerForm.controls['password'].hasError('required')">
              Password required!
            </mat-error>
          </mat-form-field>
          <div fxLayoutAlign="end start">
            <button type="button" mat-raised-button class="button-layout" fxFlex="40" fxFlex.xs="60" (click)="performRegistration()">Proceed</button>
          </div>
        </form>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>