.login-register-content {
  background-color: rgba(43, 42, 42, 0.644);
  width: 30%;
  margin-top: 3px;
  padding: 0px;
  padding-top: 3px;

  @media only screen and (max-width: 1200px) {
    width: 40%;
    margin-top: 12px;
  }

  @media only screen and (max-width: 1000px) {
    width: 50%;
    margin-top: 15px;
  }

  @media only screen and (max-width: 800px) {
    width: 60%;
    margin-top: 20px;
  }

  @media only screen and (max-width: 600px) {
    width: 80%;
  }
}

.mat-tab-content {
  background-color: rgba(0, 0, 0, 0);
  padding: 8px;
  overflow: hidden;
}

.form-field-outline {
  font-size: 0.75em;;
}

::ng-deep {
  .login-register-content .mat-tab-label {
    padding: 0px;
    font-size: 0.8em;
    height: 35px;
  }

  .form-field-outline .mat-form-field-outline {
    color: rgba(230, 227, 227, 0.863) !important;
  }

  .mat-form-field-invalid .mat-form-field-outline {
    color: rgb(255, 0, 0) !important;
  }

  .form-field-outline .mat-form-field-wrapper {
    padding-bottom: 7px;
  }

  .login-register-content .mat-ink-bar {
    background: rgb(245, 154, 94) !important;
  }

  .login-register-content .mat-tab-label-content {
    font-size: 1.35em;
  }

  .user-select .mat-select-value {
    color: rgba(230, 227, 227, 0.863) !important;
  }

  .user-select .mat-select-arrow {
    color: rgba(230, 227, 227, 0.863) !important;
  }

  .user-select-option .mat-option-text {
    color: rgb(209, 206, 206) !important;
  }
}

.color-for-text {
  color: rgba(230, 227, 227, 0.863);
}

.button-layout {
  letter-spacing: 1px;
  font-weight: 500;
  background: transparent;
  color: rgb(19, 255, 196);
  border: 1px;
  border-style: double;
  border-color: rgb(19, 255, 196);
}

.button-layout:disabled {
  color: rgb(201, 201, 201);
  border-color: rgb(75, 75, 75);
}

.forgot-password-label {
  cursor: pointer;
  padding: 3px;
  color: rgb(32, 12, 12);
  font-size: 0.8em;
  text-align: center;
}

.forgot-password-label:hover {
  background-color: rgb(0, 0, 0, 0.2);
  color: rgb(209, 206, 206);
}

.error-color {
  color: rgb(250, 102, 102);
}
