<div fxLayoutAlign="center center">
  <mat-card class="publisher-more-details-content">
    <mat-card-header>
      <mat-card-title class="publisher-more-details-title">{{'pageTitles.authPages.publisherMoreDetails' | translate }}</mat-card-title>
    </mat-card-header>
    <div class="mat-card-content">
      <form fxLayout="column" [formGroup]="publisherMoreDetails">
        <mat-form-field appearance="outline" class="form-field-outline">
          <mat-label class="color-for-text">{{'labels.mobileNo' | translate }}
            <font color="red">*</font>
          </mat-label>
          <input matInput type="tel" class="color-for-text" formControlName="mobile" maxlength="10">
          <mat-icon matSuffix class="color-for-text">phone</mat-icon>
          <mat-error class="error-color"
            *ngIf="publisherMoreDetails.controls['mobile'].touched && publisherMoreDetails.controls['mobile'].hasError('required')">
            {{'errors.mobileNoRequired' | translate}}
          </mat-error>
          <mat-error class="error-color"
            *ngIf="publisherMoreDetails.controls['mobile'].touched && !publisherMoreDetails.controls['mobile'].hasError('required') && publisherMoreDetails.controls['mobile'].hasError('pattern')">
            {{'errors.invalidMobileNo' | translate}}
          </mat-error>
        </mat-form-field>
        
        <mat-form-field appearance="outline" class="form-field-outline">
          <mat-label class="color-for-text">{{'labels.panNo' | translate }}
            <font color="red">*</font>
          </mat-label>
          <input matInput type="text" class="color-for-text" formControlName="panNo" maxlength="10">
          <mat-icon matSuffix class="color-for-text">person_pin</mat-icon>
          <mat-error class="error-color"
            *ngIf="publisherMoreDetails.controls['panNo'].touched && publisherMoreDetails.controls['panNo'].hasError('required')">
            {{'errors.panNoRequired' | translate}}
          </mat-error>
          <mat-error class="error-color"
            *ngIf="publisherMoreDetails.controls['panNo'].touched && !publisherMoreDetails.controls['panNo'].hasError('required') && publisherMoreDetails.controls['panNo'].hasError('pattern')">
            {{'errors.invalidPanNo' | translate}}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field-outline">
          <mat-label class="color-for-text">{{'labels.bankName' | translate }}
            <font color="red">*</font>
          </mat-label>
          <input matInput type="text" class="color-for-text" formControlName="bankName">
          <mat-icon matSuffix class="color-for-text">perm_identity</mat-icon>
          <mat-error class="error-color"
            *ngIf="publisherMoreDetails.controls['bankName'].touched && publisherMoreDetails.controls['bankName'].hasError('required')">
            {{'errors.bankNameRequired' | translate}}
          </mat-error>
          <mat-error class="error-color"
            *ngIf="publisherMoreDetails.controls['bankName'].touched && !publisherMoreDetails.controls['bankName'].hasError('required') && publisherMoreDetails.controls['bankName'].hasError('pattern')">
            {{'errors.invalidBankName' | translate}}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field-outline">
          <mat-label class="color-for-text">{{'labels.branchName' | translate }}
            <font color="red">*</font>
          </mat-label>
          <input matInput type="text" class="color-for-text" formControlName="branchName">
          <mat-icon matSuffix class="color-for-text">perm_identity</mat-icon>
          <mat-error class="error-color"
            *ngIf="publisherMoreDetails.controls['branchName'].touched && publisherMoreDetails.controls['branchName'].hasError('required')">
            {{'errors.branchNameRequired' | translate}}
          </mat-error>
          <mat-error class="error-color"
            *ngIf="publisherMoreDetails.controls['branchName'].touched && !publisherMoreDetails.controls['branchName'].hasError('required') && publisherMoreDetails.controls['branchName'].hasError('pattern')">
            {{'errors.invalidBranchName' | translate}}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field-outline">
          <mat-label class="color-for-text">{{'errors.invalidBranchName' | translate}}
            <font color="red">*</font>
          </mat-label>
          <input matInput type="tel" class="color-for-text" formControlName="accountNo">
          <mat-icon matSuffix class="color-for-text">perm_identity</mat-icon>
          <mat-error class="error-color"
            *ngIf="publisherMoreDetails.controls['accountNo'].touched && publisherMoreDetails.controls['accountNo'].hasError('required')">
            {{'errors.accNoRequired' | translate}}
          </mat-error>
          <mat-error class="error-color"
            *ngIf="publisherMoreDetails.controls['accountNo'].touched && !publisherMoreDetails.controls['accountNo'].hasError('required') && publisherMoreDetails.controls['accountNo'].hasError('pattern')">
            {{'errors.invalidAccNo' | translate}}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field-outline">
          <mat-label class="color-for-text">{{'labels.ifscCode' | translate }}
            <font color="red">*</font>
          </mat-label>
          <input matInput type="text" class="color-for-text" formControlName="ifscCode">
          <mat-icon matSuffix class="color-for-text">perm_identity</mat-icon>
          <mat-error class="error-color"
            *ngIf="publisherMoreDetails.controls['ifscCode'].touched && publisherMoreDetails.controls['ifscCode'].hasError('required')">
            {{'errors.ifscCodeRequired' | translate}}
          </mat-error>
          <mat-error class="error-color"
            *ngIf="publisherMoreDetails.controls['ifscCode'].touched && !publisherMoreDetails.controls['ifscCode'].hasError('required') && publisherMoreDetails.controls['ifscCode'].hasError('pattern')">
            {{'errors.invalidIfscCode' | translate}}
          </mat-error>
        </mat-form-field>
        <div fxLayoutAlign="end start">
          <span class="skip-this-step-label" fxFlex="40" fxFlex.xs="60" (click)="skipTheStepAction()">{{'labels.skipTheStep' | translate }}</span>
        </div>
        <div fxLayoutAlign="end start">
          <button type="button" mat-raised-button class="button-layout" fxFlex="40" fxFlex.xs="60" (click)="saveDetails()">{{'labels.save' | translate }}</button>
        </div>
      </form>
    </div>
  </mat-card>
</div>